.nav-bar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar.show .nav-brand {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close div:nth-child(2) {
  opacity: 0;
}

.menu-btn.close div:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close div:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.btn-line {
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.btn-line:last-child {
  margin-bottom: 0;
}

.nav-brand {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #444;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.nav-brand img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #eece1a;
}

.nav-content {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #373737;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.9);
  z-index: -1;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container {
  padding: 5%;
  width: 100%;
}

main h1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
}

main h1 span {
  color: #eece1a;
}

main h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
  background-color: rgba(85, 85, 85, 0.7);
  padding: 5px 15px;
}

main .fa {
  font-size: 2.5rem;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

main .fa:last-child {
  margin-right: 0;
}

main .fa:hover {
  color: #eece1a;
}
/*# sourceMappingURL=main.css.map */